<html>
<body>
<p>You have a new response to your ticket: <strong><%= @ticket.subject %></strong></p>

<blockquote><%= @message.content %></blockquote>

<p>You can reply to it and find the full ticket history in the following link: <%= @url %></p>

<p>To start a live chat, <a href="#">click here</a>.</p>
</body>
</html>
