<h1>Editing Ticket</h1>

<%= render 'form' %>

<br />

<div class="btn-group">
  <a href="<%= url_for(@ticket) %>" class="btn btn-default">Show</a>
  <a href="<%= url_for(tickets_path) %>" class="btn btn-default">Back</a>
</div>